/*

#card{

    margin: 10px;
    background-color: red;
    height: 100px;
    width: 100px;
} */
body {
    text-align: center;
    color:white;
    background: url("images/background.jpeg");
    
    background-position: 40% 0;
    
}

#cards{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 3%;
}

img{
    height: 220px;
    width: 100px;
}


#card{
    color: black;
    width: 18rem;
    margin:1%;
    border: 2%;
    padding: 1%;
    border-radius: 15%;
}

.loader {
   
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

